/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 40px;
}

a         { color: #461D7C; }
a:visited { color: #FDD023; }
a:hover   { color: #999999; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}


.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
}

footer { 
	height: 25em;
    margin-top: 2em;
	padding-top: 3em;
	background-color: #2c2c2c;
    border-top: 4px solid #eee;
	color: #eeeeee;
    overflow: hidden;
}

footer a:link {
    color: #BC2DFF;
}
footer a:visited {
    color: #BC2DFF;
}
footer a:hover {
    color: #BC2DFF;
}
footer a:active {
    color: #BC2DFF;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

section#event {
	border: 1px solid grey;
}

section#event #event_title {
	margin-left: 1em;
	margin-top: -0.75em;
}

section#event #event_title span {
	background-color: white;
	padding: 0 0.5em;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}

/********************/
/*
/* Custom
/*
/********************/

.navbar-brand {
    color: #B25FE0;    
}

