---
layout: default
---
<!--<p class="meta">{{ page.date | date_to_string }}</p>-->

<div class="post">
	<article  class="post type-post format-standard hentry">

		<header class="entry-header">
						<h1 class="entry-title"><a href="{{page.url}}" title="Permalink" rel="bookmark">{{page.title}}</a></h1>
						<p class="meta">Posted on </span><a href="#" rel="bookmark"><time class="entry-date" datetime="{{ page.date | date_to_xmlschema}}">{{ page.date | date_to_string }}</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="#" title="View all posts by {{page.author}}" rel="author">{{page.author}}</a></span></p>
			
				<div class="entry-meta">
			</div>
			
		</header>

		{{ content }}

		<section id="event">
			<div id="event_title"><span>Event</span></div>
			<legend>
				<h4>{{page.event_name}}</h4>
			</legend>
				<p>Date: {{page.event_date_start}} &emdash; {{page.event_date_end}}</p>
				<p>Contact {{page.event_contact}} for details</p>
			</div>
		</section>

		<footer class="entry-meta">
			Posted in 
			
			{% for tag in page.tags %} 
			<a href="{{site.url}}/tags/{{ tag | uri_escape }}">{{ tag }}</a>
			{% endfor %} 
		</footer>
	</article>


</div>
